.imagem:hover {
  cursor: pointer;
  border: 3px #0d6efd solid;

}

.card {
  border: none;
  background-color: transparent;
}

.link:hover {
  cursor: pointer;
  font-size: large !important;
}

@media (max-width: 768px) {
  .small-screen-img {
    width: 200px;
    max-height: none;
  }
}