<section class="justify-items-center">
    <div class="card mt-2">
        <img  
        [ngbTooltip]="model.nome"
        [openDelay]="200"
            (click)="enviarSelecionado(model)" 
            [ngSrc]="model.poster!" 
            width="150" 
            height="300" 
            class="card-img-top imagem img rounded">
        <div class="card-body p-0">
            <p class="text-center">
                <a (click)="enviarSelecionado(model)" 
                    class="fw-normal fs-5 text-dark link-underline link-underline-opacity-0 link">
                    {{model.nome!}}
                </a>
            </p>
        </div>
    </div>
</section>
