<div class="container-fluid">
    <div class="row mt-4">
        <div class="col">
            <ngb-pagination class="d-flex justify-content-center" (pageChange)="mudarPagina($event)"
                [collectionSize]="200" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="fs-3 text-secondary fs-italic text-center">{{ categoria | uppercase}}</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <app-lista [dados]="filmes" (onCardSelecionado)="obterDetalhes($event)"></app-lista>
    </div>
</div>