<ul ngbNav #nav="ngbNav" [activeId]="1" class=" nav-underline">
  <li [ngbNavItem]="1">
    <button class=" text-secondary-emphasis fs-3 fw-semibold" ngbNavLink>Novidades</button>
    <ng-template ngbNavContent> <app-filmes categoria="novidades"></app-filmes></ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button class="text-secondary-emphasis fs-3 fw-semibold" ngbNavLink>Populares</button>
    <ng-template ngbNavContent> <app-filmes categoria="populares"></app-filmes></ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button class=" text-secondary-emphasis fs-3 fw-semibold" ngbNavLink>Recomendados</button>
    <ng-template ngbNavContent> <app-filmes categoria="recomendados"></app-filmes></ng-template>
  </li>
  <li [ngbNavItem]="4">
    <button class=" text-secondary-emphasis fs-3 fw-semibold" ngbNavLink>Favoritos</button>
    <ng-template ngbNavContent> <app-favoritos></app-favoritos></ng-template>
  </li>

</ul>

<div [ngbNavOutlet]="nav"></div>