<section>
  <div class="container my-2">
    <hr />
    <div class="row justify-content-around">
      <div class="row justify-content-center">
          <div class="px-1 text-center col-sm-6 col-lg-2 d-flex align-items-center justify-content-center " *ngFor="let ator of filme?.elenco | slice:0:5">
            <a [routerLink]="['/elenco',ator.id]" class="fs-5 fw-normal text-secondary">{{ ator?.nome }}</a>
          </div>
      </div>
      <div class="row mt-3">
        <div *ngIf="filme" class="col-lg-5 col-md-6 col-sm-12 mt-4">
          <img [ngSrc]="filme.poster!" width="300" height="450" class="img-fluid rounded" alt="Poster do Filme"
            priority />
          <div class="row justify-content-start">
            <div class="text-center col-lg-4 col-md-6 col-sm-12 mt-4">
              <span class="text-secondary fs-6">Produzido por: </span>
              <a [routerLink]="['/elenco',produtor?.id]" class="text-secondary fs-5">{{ produtor?.nome }}</a>
            </div>
            <div class="text-center col-lg-4 col-md-6 col-sm-12 mt-4">
              <span class="text-secondary fs-6">Dirigido por: </span>
              <a [routerLink]="['/elenco',diretor?.id]" class="text-secondary fs-5">{{ diretor?.nome }}</a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 mt-3">
          <div class="col text-bg-black">
            <p class="fs-4 text-center">{{ filme?.nome }}</p>
          </div>
          <hr class="mt-0" />
          <div class="col">
            <div class="row m-0 justify-content-center">
              <div class="col-lg-4 col-sm-12 text-center">
                <ngb-rating class="m-0" [(rate)]="avaliacao" [starTemplate]="t" [readonly]="true"
                  [max]="5"></ngb-rating>
                <p class="fs-6">Avaliação {{ avaliacao }}</p>
              </div>
              <div class="col-md-4 col-sm-12 text-center">
                <p class="m-0">
                  <i (click)="adicionarFavoritos()" class="coracao"
                    [class]="favorito === true ? 'bi-heart-fill' : 'bi-heart'"></i>
                </p>
                <p class="fs-6">{{ favorito ? 'Favorito' : 'Adicionar aos Favoritos' }}</p>
              </div>
              <div class="col-md-4 col-sm-12 text-center">
                <p class="fs-3 text-center fw-light m-0 p-0">{{ filme?.data | date: 'yyyy' }}</p>
                <p class="fs-6">Lançamento</p>
              </div>
            </div>
            <hr class="mt-0" />
          </div>
          <div class="col  px-4 resumo">
            <p class="fs-5">{{ filme?.resumo }}</p>
          </div>
          <div class="col px-4 pb-1">
            <div *ngIf="!this.filme?.trailer?.endsWith('undefined')">
              <iframe [src]="trailerUrl" allowfullscreen="true" width="100%" height="290"></iframe>
            </div>

            <div *ngIf="filme?.trailer?.endsWith('undefined') && !filme?.backdrop?.endsWith('null')">
              <img [ngSrc]="imagemAlternativa" width="400" height="300" class="img-fluid rounded"
                alt="Poster do Filme" />
            </div>
          </div>
          <hr />
          <div class="col d-flex justify-content-center gap-2 pb-3">
            <ng-container *ngFor="let genero of filme?.generos">
              <span class="badge text-bg-dark fs-6 fw-light">{{ genero?.nome }}</span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <hr>
    <p class="fs-3 text-white text-center">Elenco</p>
    <app-lista [dados]="elenco!" (onCardSelecionado)="irParaDetalhes($event)"></app-lista>
  </div>
</section>

<ng-template #t let-fill="fill">
  <i class="bi-star-fill">
    <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
  </i>
</ng-template>
