<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side' " [opened]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a class="px-4" mat-list-item (click)="mudarCategoria('Novidades')">
        <div class="d-flex align-items-center"><mat-icon color="accent" class="fs-4 me-2">campaign</mat-icon>
          <span class="fs-6 fw-light">Novidades</span>
        </div>
      </a>

      <a class="px-4" mat-list-item (click)="mudarCategoria('Populares')">
        <div class="d-flex align-items-center"><mat-icon color="accent" class="fs-4 me-2">star</mat-icon>
          <span class="fs-6 fw-light">Populares</span>
        </div>
      </a>

      <a class="px-4" mat-list-item (click)="mudarCategoria('Recomendados')">
        <div class="d-flex align-items-center"><mat-icon color="accent" class="fs-4 me-2">verified</mat-icon>
          <span class="fs-6 fw-light">Recomendados</span>
        </div>
      </a>

      <a class="px-4" mat-list-item (click)="mudarCategoria('Gêneros')">
        <div class="d-flex align-items-center"><mat-icon color="accent" class="fs-4 me-2">category</mat-icon>
          <span class="fs-6 fw-light">Gêneros</span>
        </div>
      </a>

      <a class="px-4" mat-list-item (click)="mudarCategoria('Favoritos')">
        <div class="d-flex align-items-center"><mat-icon color="accent" class="fs-4 me-2">favorite</mat-icon>
          <span class="fs-6 fw-light">Favoritos</span>
        </div>
      </a>



    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row *ngIf="isHandset$|async">
        <span class="example-spacer"></span>
        <a mat-button href="/home">Gerenciador de Filmes</a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="(isHandset$|async)">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button *ngIf="!(isHandset$|async)" mat-button routerLink="/home">Gerenciador de Filmes</button>
        <span class="spacer"></span>
        <form (ngSubmit)="onSubmit()" class="d-flex" role="search">
          <input [(ngModel)]="nome" name="nome" class="form-control me-2" type="search" placeholder="Search"
            aria-label="Search">
          <button class="btn btn-secondary" type="submit">Pesquisar</button>
        </form>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
