<div class="container-fluid">
    <div class="row mt-4">
        <div class="col">
            <ngb-pagination class="d-flex justify-content-center" (pageChange)="mudarPagina($event)"
            [collectionSize]="200" [maxSize]="5" [(page)]="pagina" [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="fs-3 text-secondary fs-italic text-center">Pesquisa</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <app-lista [dados]="resultado" (onCardSelecionado)="obterDetalhes($event)"></app-lista>
    </div>
</div>

<ng-template #t let-fill="fill">
    <i class="bi-star-fill">
      <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
    </i>
  </ng-template>